/* Task4.css */
body{
    background-color: rgb(72, 72, 190);
}
.table-container {
  width: 50%;
}

table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  position: relative;
  left:6%;
}

th,td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color:pink;
  color:blue;
   font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: lightgrey
}
tr:hover {
  /* background-color: #e6e6e6; */
  background-color:rgba(173,216,230,0.9);
}
